<!--- Courier Main Container -> Courier Profile ----->

<!--- courier-profile-personal-info ------------------------>                  
    <div class="col-6 p-3">
        <label for="courierFullName" class="form-label fs-5 fw-semibold">Full Legal Name</label>
        <div class="input-group">
    <!--- disable input until icon is clicked and show Courier Name in placeholder ------------------------>
            <input type="" id ="courierFullName" class="form-control shadow-lg" placeholder="(Courier's name)"/>
    <!--- allow the icon to edit the courier's fullname ------------------------>                         
            <span class="input-group-text"><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
    </div>
<!--- courier--profile-date-of-birth ------------------------>                
    <div class="col-6 p-3">
        <label for="courierBirthday" class="form-label fs-5 fw-semibold">Date of Birth</label>
        <div class="input-group">
    <!--- disable input until icon is clicked and show courier's birthday in placeholder ------------------------>
            <input type="" id="courierBirthday" class="form-control shadow-lg" placeholder="(Courier's Birthdate)"/>
    <!--- allow the icon to edit the courier's birthday ------------------------> 
            <span class="input-group-text"><i class="fa-solid fa-calendar"></i></span>
        </div>
    </div>
