<!--- Main Page ----->

<!--- Display of Current Requests by Consumers ------->
<div class="card text-center p-4 m-5">
    <div class="card-header" style="background:#ca7b31;">Current Delivery Requests</div>
    <div class="row row-cols-1 row-cols-md-2 g-5 p-5">
        <div class="col" >
          <div class="card text-light" style="background:#ca7b31;border:#ca7b31">
            
<!--- Configure the consumer's name into the card-title --->
            <div class="card-header" >
                <h4 id="consumerName" class="card-title">Consumer Name</h4>
            </div>

<!--- Configure the restaurant's name --->
            <div class="card-body text-start text-dark" style="background:#e0b185;">
                <div id="customerOrder">
                    <h5 id="restaurantName">Restaurant Name</h5>

<!--- Configure the customer's order --->
    <!--- Create table instead to show the items ordered instead of list group-->
                    <ul class="list-group mb-3">
                        <li class="list-group-item" id="customerItem1">Item-1</li>
                        <li class="list-group-item" id="customerItem2">Item-2</li>
                    </ul> 
                </div>
                <div class="mb-1 text-end">
                    <a id="orderAccepted" href="#" type="courierAccepts" class="btn btn-success rounded-pill">Accept</a>
                </div>
            </div>

<!--- Configure the timestamp of when the customer placed the order--->            
            <div class="card-footer">
                <small id="consumerSubmittedOrder" class="text-light">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
