<!--- Introduction Page is to show potential couriers why they should join the EatHub team to delivery --->

<!--- Frequently Asked Questions with responses for current/potential Couriers ------->

<section class="container" >
    <div class="accordion accoridon-flush" id="courierFrequentQuestions">
        <h3 class="card-title text-center mb-3">Frequently Asked Questions</h3>
        <div class="mb-4">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ1">
                    <button [class.active]="isQuestionSelected(0)" (click)="toggleQuestionChange($event,1)" class="accordion-button collapsed text-white" style="background-color:#f3ba85;" type="button" data-bs-toggle="collapse">
                        Question 1
                    </button>
                </h2>
                <div class="panel">
                    <div class="accordion-body" *ngIf="isQuestionSelected(1)">
                        Response to Question 1
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ2">
                    <button (click)="toggleQuestionChange($event,2)" class="accordion-button collapsed text-white" style="background-color:#eba564;" type="button" data-bs-toggle="collapse">
                        Question 2
                    </button>
                </h2>
                <div class="panel">
                    <div class="accordion-body" *ngIf="isQuestionSelected(2)">
                        Response to Question 2
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ3">
                    <button (click)="toggleQuestionChange($event,3)" class="accordion-button collapsed text-white" style="background-color:#e4964e;" type="button" data-bs-toggle="collapse">
                        Question 3
                    </button>
                </h2>
                <div class="panel">
                    <div class="accordion-body" *ngIf="isQuestionSelected(3)">
                        Response to Question 3
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ4">
                    <button (click)="toggleQuestionChange($event,4)" class="accordion-button collapsed text-white" style="background-color:#d88a41;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-courierQ4" aria-expanded="false" aria-controls="flush-courierQ4">
                        Question 4
                    </button>
                </h2>
                <div class="panel">
                    <div class="accordion-body" *ngIf="isQuestionSelected(4)">
                        Response to Question 4
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ5">
                    <button (click)="toggleQuestionChange($event,5)" class="accordion-button collapsed text-light" style="background-color:#ca7b31;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-courierQ5" aria-expanded="false" aria-controls="flush-courierQ5">
                        Question 5
                    </button>
                </h2>
                <div class="panel">
                    <div class="accordion-body" *ngIf="isQuestionSelected(5)">
                        Response to Question 5
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>