<!--- Courier Introduction Container --->

<!--- Introduction Page Navbar Links------------->

    <ul class="navbar-nav ms-auto h4" style="font-size:30;">
    <!-- link to restaurant page -->
        <li class="nav-item">
            <button type="button" href="#" class="nav-link px-4 text-light btn btn-lg rounded-pill position-relative">Restaurants</button>
        </li>
    <!--- Link to courier introduction page ----->                    
        <li class="nav-item">
            <button type="button" href="#" class="nav-link px-4 text-light btn btn-lg rounded-pill position-relative">Opportunities</button>
        </li>
    <!--- Link to customer sign up page ----->
        <li class="nav-item">
            <button type="button" href="#" class="nav-link btn btn-light px-4 rounded-pill text-dark">Sign Up</button>
        </li>
    <!--- Link to overall login page ----->
        <li class="nav-item mx-4">
            <button type="button" href="#" class="nav-link btn btn-dark px-4 rounded-pill text-light">Login</button>
        </li>
    </ul>                    
