<!--- Courier Main Container ----->

<!--- Courier Accepted Request Order ---->

<div class="card shadow-lg text-center p-4 m-5">
    <div class="card-header text-white display-5 fw-bold" style="background:#ca7b31;">Accepted Requests</div>
    <div class="row row-cols-1 row-cols-md-2 g-5 p-5">
        <div class="col-6">
          <div class="card shadow-lg text-light" style="background:#ca7b31;border:#ca7b31">
    <!--- Show the customers name from accepted request ------>
            <div class="card-header text-center display-5">
                <h1 id="consumerName" class="card-title text-dark">Order for: <span class="fw-bold text-white">Customer Name</span></h1>
            </div>
            <div class="card-body text-start text-dark" style="background:#e0b185;">
                
<!--- accepted-request-pick-up --------------------------------------------------------------->
            <app-accepted-request-pick-up></app-accepted-request-pick-up>
<!--- accepted-request-order ----------------------------------------------------------------->          
            <app-accepted-request-order></app-accepted-request-order>
<!--- accepted-request-drop-off -------------------------------------------------------------->
            <app-accepted-request-drop-off></app-accepted-request-drop-off>

            </div>
        </div>
<!--- Show when the order was placed by customer --------->
        <div class="card-footer p-3" style="background:#ca7b31;">
            <small id="consumerSubmittedOrder" class="text-light text-center fs-5">Last updated 3 mins ago</small>
        </div>        
        </div>
    </div>
</div>