<!--- Courier Main Container -> Accepted Request ----->

<!--- accepted-request-pick-up --------------------------------------------------------------->
<div class="container p-3 rounded" style="background-color:#f3ba85;">
    <h1 class="text-light text-center p-3 rounded" style="background:#ca7b31;">Pick Up</h1>
    <div class="text-start py-1">
<!--- Configure Restaurant Name ------->                      
        <h5 class="text-white fw-semibold" id="customerName">Restaurant Name</h5>
<!--- Apply an image or icon ----------------------->
        <img src="" class="img-fluid rounded"/>
<!--- Configure link to Restaurant Address------->                      
        <a class="btn btn-dark px-4 text-wrap text-light" href="#" type="link">
            Place Restaurant Address Here
        </a>
    </div>
    <hr class="text-white"/>
    <div class="text-end pb-4">
        <button class="btn btn-success px-4 rounded-pill text-wrap" type="submit">
            On My Way Now
        </button>
    </div>
</div>
<br />
