<!--- Courier Main Container -> Courier Profile ----->

<!--- courier-profile-login-info ------------------------>
    <div class="col-6 p-3">
        <label for="courierEmail" class="form-label fs-5 fw-semibold">Email</label>
        <div class="input-group">
    <!--- show courier's email in placeholder ------------------------>
            <input type="" id="courierEmail" class="form-control shadow-lg" placeholder="(Courier's Email)"/> 
    <!--- disable input until icon is clicked and allow the icon to edit the courier's email ------------------------>                        
            <span class="input-group-text"><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
    </div>
<!--- courier-profile-password ------------------------>
    <div class="col-6 p-3">
        <label for="courierPassword" class="form-label fs-5 fw-semibold">Password</label>
        <div class="input-group">
    <!--- disable input until icon is clicked and show courier's email in placeholder ------------------------>    
            <input type="" id="courierPassword" type="password" class="form-control shadow-lg" placeholder="(Courier's Password)"/> 
    <!--- allow the icon to edit the courier's email ------------------------>                                  
            <span class="input-group-text"><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
    </div>
    

