<!--- Courier Main Container -> Courier Profile ----->

<!--- courier-profile-vehicle-info ------------------------>                
    <div class="col-4 p-3">
        <label for="courierDriverLicense" class="form-label fs-5 fw-semibold">Driver's License #</label>
        <div class="input-group">
    <!--- disable input until icon is clicked and show Courier Name in placeholder ------------------------>
            <input type="" id="courierVehicleLicense" class="form-control shadow-lg" placeholder="(driver's license #)"/>
    <!--- allow the icon to edit the courier's driver's license ------------------------> 
            <span class="input-group-text"><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
    </div>
<!--- courier-profile-vehicle ------------------------>
    <div class="col-4 p-3">
        <label for="courierVehicle" class="form-label fs-5 fw-semibold">Vehicle Make and Model</label>
        <div class="input-group">
    <!--- disable input until icon is clicked and show courier's vehicle make and model in placeholder ------------------------>                        
            <input type="" id="courierVehicle" class="form-control shadow-lg" placeholder="(vehicle make and model of courier)"/> 
    <!--- allow the icon to edit the courier's vehicle make and model ------------------------>                         
            <span class="input-group-text"><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
    </div>
<!--- courier-profile-vehicle-license ------------------------>
    <div class="col-4 p-3">
        <label for="courierVehicleLicense" class="form-label fs-5 fw-semibold">License Plate #</label>
        <div class="input-group">
    <!--- disable input until icon is clicked and show courier's vehicle license in placeholder ------------------------>
            <input type="" id="courierVehicleLicense" class="form-control shadow-lg" placeholder="(License Plate #)"/> 
    <!--- allow the icon to edit the courier's vehicle license ------------------------>
            <span class="input-group-text"><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
    </div>    