<!--- Courier Main Page ----->

<nav class="navbar navbar-expand-lg p-3" style="background:#E2A165;">
    <div class="container-fluid">
        <a class="navbar-brand text-white m-2" style="font-size:70px; font-weight:700;">Eat<span class="text-dark">Hub</span></a>
        <button class="navbar-toggler p-2 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon p-4"></span>
        </button>
    <!--- Add Log or image ---->
        <div class="collapse navbar-collapse justify-content-end" id="navmenu">

            <ul class="navbar-nav ms-auto h4" style="font-size:30;">
                <!-- link  ------------->
                    <li class="nav-item">
                        <button type="button" (click)="btnCurrentRequests()" class="nav-link px-4 text-light btn btn-lg rounded-pill">Current Requests</button>
                    </li>
                <!-- link  ------------->
                    <li class="nav-item">
                        <button type="button" (click)="btnAcceptedRequests()" class="nav-link px-4 text-light btn btn-lg rounded-pill">Accepted Requests</button>
                    </li>
                <!-- link Profile to show courier-profile ------------->
                    <li class="nav-item">
                        <button type="button" (click)="btnProfile()" class="nav-link px-4 text-light btn btn-lg rounded-pill">Profile</button>
                    </li>
                <!-- link Logout to courier-introduction ------------->
                    <li class="nav-item mx-4">
                        <button type="button" (click)="btnLogout()" class="nav-link btn btn-dark px-4 rounded-pill text-light">Logout</button>
                    </li>
            </ul>
        </div>
    </div>
</nav>
