<!--- Courier Main Page ----->

<!--- Courier Main Page Navbar Links ---------------------------->
    <ul class="navbar-nav ms-auto h4" style="font-size:30;">
    <!-- link Home button to show courier-received-request ------------->
        <li class="nav-item">
            <button type="button" href="#" class="nav-link px-4 text-light btn btn-lg rounded-pill position-relative">Home</button>
        </li>
        <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle text-light btn btn-lg rounded-pill position-relative" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Requests
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark text-light" style="font-size:20">
                    15
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <!-- link Accepted Requests to show courier-accepted-request ------------->            
                <li><a class="dropdown-item text-light" href="#">Accepted Requests</a></li>
    <!-- link Current Requests to show courier-received-request ------------->            
                <li><a class="dropdown-item text-light" href="#">Current Requests</a></li>
            </ul>
        </li>
    <!-- link Profile to show courier-profile ------------->    
        <li class="nav-item">
            <button type="button"href="#" class="nav-link px-4 text-light btn btn-lg rounded-pill">Profile</button>
        </li>
    <!-- link Logout to courier-introduction ------------->    
        <li class="nav-item mx-4">
            <button type="button" class="nav-link btn btn-dark px-4 rounded-pill text-light" href="#">Logout</button>
        </li>
    </ul>                    