<!--- Courier Main Container -> Accepted Request ----->

<!--- accepted-request-drop-off -------------------------------------------------------------->
<div class="container p-3 pb-4 rounded" style="background-color:#f3ba85;">
    <h1 class="text-light text-center p-3 rounded" style="background:#ca7b31;">Drop Off</h1>
    <div class="text-start py-1">
<!--- Apply an image or icon ----------------------->                        
        <img src="" class="img-fluid rounded"/>
<!--- Configure link to Customer Address------->                      
            <a class="btn btn-dark px-4 text-wrap text-light" href="#" type="link">
                Place Customer Address Here
            </a>
        </div>
        <hr class="text-white"/>
<!--- Configure a Notification to Customer ----------->                    
    <div class="text-end pb-4">
        <button class="btn btn-success px-4 rounded-pill text-wrap" type="submit">
            Dropped Off Order
        </button>
    </div>
</div>
