<!--- Courier Main Container -> Accepted Request ----->

<!--- accepted-request-order ----------------------------------------------------------------->          
<div class="container p-3 rounded" style="background-color:#f3ba85;">
    <table class="table table-dark table-striped">
    <h1 class="text-light text-center p-3 rounded" style="background:#ca7b31;">Order</h1>
        <thead class="text-center">
            <tr>
<!--- Configure table with Customer Order ----------->                                                  
                <th>#</th>
                <th>Item</th>
                <th>Size</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody class="text-start bg-light text-dark">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <hr class="text-white"/>
<!--- Configure a Notification to Customer ----------->
    <div class="text-end pb-4">
        <button class="btn btn-success px-4 text-wrap rounded-pill" type="submit">
            Picked Up Order
        </button>
    </div>
</div>
<br />