<!--- Courier Main Container -> Courier Profile ----->

<!--- Profile of Courier -------------------------->
<div class="container p-4">
    <div class="card-header text-white rounded" style="background:#ca7b31;">
    <!--- show Courier Name ------------------------>
        <h1 class="shadow-lg text-center text-dark p-3">Profile : <span class="fw-bold text-white">(Courier's Name Here)</span></h1>
    </div>
    <form method="get" class="shadow-lg p-3 mb-2 rounded" style="background:#e0b185;">
        <h3 class="card-title fw-bold pt-3 text-white text-decoration-underline">Personal Information</h3>
        <div class="row">

<!--- courier-profile-personal-info ------------------------>  

        </div>
        <hr class="text-white"/>
        <h3 class="card-title pt-3 fw-bold text-white text-decoration-underline">Vehicle Information</h3>
        <div class="row">

<!--- courier-profile-vehicle-info ------------------------> 

        </div>
        <hr class="text-white"/>
        <h3 class="card-title fw-bold pt-3 text-white text-decoration-underline">Login Information</h3>
        <div class="row">

<!--- courier-profile-login-info ------------------------>

            <hr class="text-white"/>
    <!--- Configure the button to resubmit courier registration ------------------------>                
            <div class="text-end pb-2 mx-2">
                <button class="btn btn-dark px-4 rounded-pill" style="font-size:30;">Save</button>
            </div>
        </div>      
    </form>
</div>
