<!--- Courier Main Container -> Accepted Request ----->

<!--- accepted-request-order ----------------------------------------------------------------->          
<div class="container p-3 rounded" style="background-color:#f3ba85;">

    <app-request-order></app-request-order>

    <hr class="text-white"/>
<!--- Configure a Notification to Customer ----------->
    <div class="text-end pb-4">
        <button class="btn btn-success px-4 text-wrap rounded-pill" type="submit">
            Picked Up Order
        </button>
    </div>
</div>
<br />