<!--- Introduction Page -> Courier Registration Form ---->

<!--- Login Information Section ------------------------------------------------------------------------>
    <h3 class="card-title fw-bold pt-3 text-decoration-underline">Login Information</h3>
    <div class="row">
    <!--- Validate Input is required ---->
        <div class="col p-3">
            <label for="courierEmail" class="form-label fs-5 fw-semibold">Email</label>
            <input id="courierEmail" type="email" class="form-control shadow-lg">
        </div>
    <!--- Validate Input is required ---->
        <div class="col p-3">
            <label for="courierPassword" class="form-label fs-5 fw-semibold">Password</label>
            <input id="courierPassword" type="password" class="form-control shadow-lg">
        </div>
    </div>
    <hr />
    <!--- Configure checkbox to be validated/required ---->        
    <div class="row">
        <div class="col mt-3 text-start">
            <input class="form-check-input" type="checkbox" id="courierBackgroundCheck">
            <label class="form-check-label text-danger" style="font-size:20px" for="courierBackgroundCheck">
                * <span class="text-white">I consent to a background check before I can start my career with EatHub.</span>
            </label>
            </div>
    </div>

