<!--- Introduction Page -> Courier Registration Form ---->

<!--- Personal Information Section ------------------------------------------------------------------------>
    <h3 class="card-title fw-bold pt-3 text-decoration-underline">Personal Information</h3>
    <div class="row">
    <!--- Validate Input is required ---->
        <div class="col p-3">
            <label for="courierFullName" class="form-label fs-5 fw-semibold">Full Legal Name</label>
            <input id ="courierFullName" class="form-control shadow-lg">
        </div>
    <!--- Validate age is over 18 yrs and input is required ---->
        <div class="col p-3">
            <label class="form-label fs-5 fw-semibold" for="courierInfoVerify">Date of Birth</label>
            <input class="form-control shadow-lg"id="courierInfoVerify">
        </div>
    </div>
