<!--- Introduction Page is to show potential couriers why they should join the EatHub team to delivery --->

<!--- Introduction Page Navbar ------------->

<nav class="navbar navbar-expand-lg py-3" style="background:#E2A165;">
    <h1 class="text-white mx-5" style="font-size:70px; font-weight:700;">Eat<span class="text-dark">Hub</span></h1>
    <div class="container-fluid justify-content-end">
        <div class="justify-content-end">
        <!--- Add Logo or image ---->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav h4">
        <!-- Configure the links -->
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-light" href="#">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 px-1 text-light" href="#">Opportunies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-light mx-2 px-5 rounded-pill text-dark" href="#">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link btn btn-dark mx-2 px-5 rounded-pill text-white" href="#">Sign-up</a>
                    </li>
                </ul>                    
            </div> 
        </div>
    </div>
</nav>