<!--- Introduction Page is to show potential couriers why they should join the EatHub team to delivery --->

<!--- Frequently Asked Questions with responses for current/potential Couriers ------->

<section class="container" >
    <div class="accordion accoridon-flush" id="courierFrequentQuestions">
        <h3 class="card-title text-center mb-3">Frequently Asked Questions</h3>
        <div class="mb-4">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ1">
                    <button class="accordion-button collapsed text-white" style="background-color:#f3ba85;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-courierQ1" aria-expanded="false" aria-controls="flush-courierQ1">
                        Question 1
                    </button>
                </h2>
                <div id="flush-courierQ1" class="accordion-collapse collapse" aria-labelledby="heading-courierQ1" data-bs-parent="#courierFrequentQuestions">
                    <div class="accordion-body">
                        Response to Question 1
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ2">
                    <button class="accordion-button collapsed text-white" style="background-color:#eba564;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-courierQ2" aria-expanded="false" aria-controls="flush-courierQ2">
                        Question 2
                    </button>
                </h2>
                <div id="flush-courierQ2" class="accordion-collapse collapse" aria-labelledby="heading-courierQ2" data-bs-parent="#courierFrequentQuestions">
                    <div class="accordion-body">
                        Response to Question 2
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ3">
                    <button class="accordion-button collapsed text-white" style="background-color:#e4964e;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-courierQ3" aria-expanded="false" aria-controls="flush-courierQ3">
                        Question 3
                    </button>
                </h2>
                <div id="flush-courierQ3" class="accordion-collapse collapse" aria-labelledby="heading-courierQ3" data-bs-parent="#courierFrequentQuestions">
                    <div class="accordion-body">
                        Response to Question 3
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ4">
                    <button class="accordion-button collapsed text-white" style="background-color:#d88a41;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-courierQ4" aria-expanded="false" aria-controls="flush-courierQ4">
                        Question 4
                    </button>
                </h2>
                <div id="flush-courierQ4" class="accordion-collapse collapse" aria-labelledby="heading-courierQ4" data-bs-parent="#courierFrequentQuestions">
                    <div class="accordion-body">
                        Response to Question 4
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-courierQ5">
                    <button class="accordion-button collapsed text-light" style="background-color:#ca7b31;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-courierQ5" aria-expanded="false" aria-controls="flush-courierQ5">
                        Question 5
                    </button>
                </h2>
                <div id="flush-courierQ5" class="accordion-collapse collapse" aria-labelledby="heading-courierQ5" data-bs-parent="#courierFrequentQuestions">
                    <div class="accordion-body">
                        Response to Question 5
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>