<!--- Introduction Page -> Courier Registration ---->

<!--- Courier Registration Form ----------->
    <div class="container m-5">
        <div class="card-header text-white rounded" style="background:#ca7b31;">
            <h1 class="shadow-lg text-center p-3">Sign up to become a EatHub Courier</h1>
        </div>

        <form class="shadow-lg p-3 mb-2 rounded" style="background:#e0b185;">

<!--- Personal Information Section --------------------------------------------------------------------->

<!--- Vehicle Information Section ---------------------------------------------------------------------->

<!--- Login Information Section ------------------------------------------------------------------------>

        <!--- Configure the button to submit the registration form and bring courier back to introduction page --->
            <div class="text-end p-2">
                <a type="submit" href="#" class="btn btn-light fw-bolder px-5 rounded-pill">Submit</a>
            </div>  
        </form>
    </div>
