<!--- Introduction Page -> Courier Registration Form ---->

<!--- Vehicle Information Section ------------------------------------------------------------------------>
    <h3 class="card-title pt-3 fw-bold text-decoration-underline">Vehicle Information</h3>
    <div class="row">
    <!--- Validate Input is required ---->
        <div class="col p-3">
            <label for="courierDriverLicense" class="form-label fs-5 fw-semibold">Driver's License #</label>
            <input id="courierDriverLicense" class="form-control shadow-lg">
        </div>
    <!--- Validate Input is required ---->
        <div class="col p-3">
            <label for="courierVehicleModel" class="form-label fs-5 fw-semibold">Vehicle Make and Model</label>
            <input id="courierVehicleModel" class="form-control shadow-lg">
        </div>
    <!--- Validate Input is required ---->
        <div class="col p-3">
            <label for="courierVehicleColor" class="form-label fs-5 fw-semibold">Vehicle Color</label>
            <input id="courierVehicleColor" class="form-control shadow-lg">
        </div>
    <!--- Validate Input is required ---->
        <div class="col p-3">
            <label for="courierVehicleLicense" class="form-label fs-5 fw-semibold">License Plate #</label>
            <input id="courierVehicleLicense" class="form-control shadow-lg">
        </div>
    </div>

