<!--- Introduction Page / Login page ------>

<!--- courier-login ----------------------------------------------------->
<div class="container p-4">
    <div class="card-header text-white rounded" style="background:#ca7b31;">
        <h1 class="shadow-lg text-center p-3">Welcome Back</h1>
    </div>
    <form [formGroup]="courierLoginForm" (submit)="handleSubmit()" class="shadow-lg p-3 mb-2 rounded" style="background:#e0b185;">
        <div class="row justify-content-md-center">
            <div class="col-6 text-white fw-semibold fs-5">
    <!--- Validate the required input ---->                
                <div class="form-group p-3">
                    <label class="form-label">Email</label>
                    <input formControlName="courierUsername" type="email" class="form-control p-3 fs-5 shadow-lg">
                </div>
    <!--- Validate the required input ---->                
                <div class="form-group p-3">
                    <label class="form-label">Password</label>
                   <input formControlName="courierPassword" type="password" class="form-control p-3 fs-5 shadow-lg">
                </div>
            </div>
        </div>
        <hr class="text-white"/>
    <!--- Authenticate User Login and Link to the courier-main---->
        <div class="text-end pb-2 mx-2">
            <button class="btn btn-dark px-4 rounded-pill" type="submit" style="font-size:30;">Login</button>
        </div>  
    </form>
</div>

