<!--- Courier Introduction Container --->

<!--- courier-benefits  ---->
<section class="container">
    <div class="row row-cols-1 row-cols-md-3 g-5 p-5">
        <div class="col-4-lg">
            <div class="card p-3 border-0">
                <img src="./images/iPad-showing-food-delivery-app.jpg" class="img-fluid w-100" style="height: 200px;" alt="An ipad open to a food delivery application.">
                <div class="card-body">
                    <h5 class="card-title text-center p-1">
                        Work when you want
                    </h5>
                    <p class="card-text">
                        You have the choice of when, where, and how much you want to work. You're your own boss.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4-lg">
            <div class="card p-3 border-0">
                <img src="./images/courier-delivering-bag-of-food.jpg" class="img-fluid w-100" style="height: 200px;" alt="A delivery person giving a customer a bag of food.">
                <div class="card-body">
                    <h5 class="card-title text-center p-1">
                        Earn as much as you want
                    </h5>
                    <p class="card-text">
                        Information on Courier Pay 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4-lg">
            <div class="card p-3 border-0">
                <img src="./images/table-of-open-food-containers.jpg" class="img-fluid w-100" style="height:200px;" alt="A table with all food containers delivered are open to show off the amazing food inside.">
                <div class="card-body">
                    <h5 class="card-title text-center p-1">
                        How to Get Started
                    </h5>
                    <p class="card-text">
                        The steps to being your own boss starts with a click of a button. 
                        Fill out the required information and within a few days you could be beginning a journey with EatHub.
                    </p>
    <!--- Configure link to show courier-registration ------>
                    <div class="text-end">
                        <a href="#" class="btn btn-dark px-5 rounded-pill text-white fw-2">Sign-up To Become a Courier</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>